<table>
  <thead>
    <tr>
      <th>Flight #</th>
      <th>Departs</th>
      <th>Arrives</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= flight.id %></td>
      <td><%= flight.departure_airport.code %></td>
      <td><%= flight.arrival_airport.code %></td>
      <td><%= flight.date %></td>
      <td><%= flight.time.strftime('%I:%M %p') %></td>
      <td><%= flight.duration / 60 %>:<%= format('%02d', flight.duration % 60) %></td>
    </tr>
  </tbody>
</table>