<%# alternative to _flight_as_table.html.erb %>
<p>Flight #: <%= flight.id %></p>
<p>Date: <%= flight.date %></p>
<p>Leaving from: <%= flight.departure_airport.code %></p>
<p>Arriving to: <%= flight.arrival_airport.code %></p>
<p>Departure time: <%= flight.time.strftime('%I:%M %p') %></p>
<p>Flight duration: <%= flight.formatted_duration %></p>