<h2>flight-booker</h2>

<h3>Filter</h3>

<%#= simple_form_for(@flight, url: flights_path, method: :get, local: true) do |f| %>
<%= simple_form_for(:flight, url: flights_path, method: :get, local: true) do |f| %>
<%#= simple_form_for(:flight, method: :get, local: true) do |f| %>
<%#= simple_form_for :flight do |f| %>
  <%= f.input :departure_airport_id, collection: Airport.all.map { |airport| airport.code } %>
  <%= f.input :arrival_airport_id, collection: Airport.all.map { |airport| airport.code } %>
  <%= f.input :date, collection: Flight.all.map { |flight| flight.date }.uniq %>  
  <%= f.input :passengers, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9] %>
  <%= f.button :submit, 'Search' %>
<% end %>

<h3>Flights</h3>

<% if @flights %>

  <% if params[:flight].present? %>
    <h4><%= pluralize(@flights.length, 'flight') %> matched your search</h4>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Departs</th>
        <th>Arrives</th>
        <th>Date</th>
        <th>Departure</th>
        <th>Duration</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @flights.each do |flight| %>
      
        <tr>
          <td><%= flight.departure_airport.code %></td>
          <td><%= flight.arrival_airport.code %></td>
          <td><%= flight.date %></td>
          <td><%= flight.time.strftime('%I:%M %p') %></td>
          <td><%= flight.duration / 60 %>:<%= format('%02d', flight.duration % 60) %></td>
          <td>
          <% if params[:flight].present? %>
          <%= button_to 'Book Flight',
                  new_booking_path,
                  method: :get,
                  params: { flight_id: flight.id, tickets: params[:flight][:passengers] } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>